@model UserViewModel

@{
    ViewData["Title"] = "Editar datos";
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title text-center">Editar datos del usuario</h3>
        <form asp-area="Identity" asp-controller="AdminUser" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input type="hidden" asp-for="Id" />

            <div class="row mt-4">
                <div class="col-md-8 col-lg-6 mx-auto">

                    <div class="mb-3">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" class="form-control" placeholder="Ingresa el nombre">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" placeholder="Ingresa el Apellido">
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" placeholder="Ingresa un correo electrónico" disabled>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label class="col-md-4" asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control" placeholder="Ingresa el número de teléfono">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>

                    <div>
                        <button type="submit" class="btn btn-primary w-100 btn-lg">
                            Editar <i class="bi bi-arrow-right-circle-fill"></i>
                        </button>
                    </div>

                </div>                

            </div>
            
        </form>
    </div>
</div>

<div>
    <a class="mt-3 btn btn-secondary" asp-area="Identity" asp-controller="AdminUser" asp-action="Index">Regresar</a>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}