@model IEnumerable<RoleViewModel>

@{
    ViewData["Title"] = "Administracion de roles";
}

<h2 class="text-center">Administración de roles</h2>

@{
    await Html.RenderPartialAsync("_StatusMessage", TempData["StatusMessage"] as string);
}

<div class="row">
    <div class="col-12 col-md-11">
        <div class="d-flex justify-content-end">
            <a asp-area="Identity" asp-controller="Role" asp-action="Create" class="btn btn-primary m-3">Crear nuevo rol</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-10 mx-auto">
        <div class="card border">
            <div class="card-header">
                <h3><strong>Lista de roles</strong></h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    @if (Model.Count() > 0)
                    {
                        <table class="table table-bordered table-hover nowrap" id="datatables" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="text-center">Nombre del rol</th>
                                    <th class="text-center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center">@Html.DisplayFor(role => item.Name)</td>
                                        <td class="text-center">
                                            <div class="btn-group gap-2" role="group" aria-label="Acciones de rol">
                                                <a class="btn btn-primary" asp-area="Identity" asp-controller="Role" asp-action="Edit"
                                                   asp-route-id="@item.Id" title="Editar">
                                                    <i class="bi bi-pencil-square"></i>
                                                </a>

                                                <a class="btn btn-info" asp-area="Identity" asp-controller="Role" asp-action="UsersInRole"
                                                   asp-route-id="@item.Id" title="Ver usuarios">
                                                    <i class="bi bi-people-fill"></i>
                                                </a>

                                                <form asp-area="Identity" asp-controller="Role" asp-action="Delete"
                                                      asp-route-id="@item.Id" method="post" style="display: inline;">
                                                    <button type="submit" class="btn btn-danger"
                                                            onclick="return confirm('¿Está seguro de borrar este registro?')" title="Eliminar">
                                                        <i class="bi bi-trash-fill"></i>
                                                    </button>
                                                </form>
                                            </div>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <p>No hay registros</p>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatables').DataTable(
                {
                    responsive: true, //https://datatables.net/extensions/responsive/
                    language: {
                        "decimal": ",",
                        "thousands": ".",
                        "emptyTable": "No hay datos disponibles",
                        "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "infoFiltered": "(filtrado de un total de _MAX_ registros)",
                        "zeroRecords": "No se encontraron resultados",
                        "infoPostFix": "",
                        "lengthMenu": "Mostrar _MENU_ registros",
                        "loadingRecords": "Cargando...",
                        "sSearch": "Buscar:",
                        "oPaginate": {
                            "sFirst": "Primero",
                            "sLast": "Último",
                            "sNext": "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "sProcessing": "Cargando..."
                    }
                }
            );
        });
    </script>
}